body {
  font-family: "League Spartan";
  margin: 0;
  background-color: rgb(255, 255, 255);
}

button {
  background: black;
  border: none;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-family: "League Spartan";
  font-size: 18px;
  padding: 10px 20px;
  width: 10%;
}

button:hover {
  background: #333;
  transform: scale(1.15);
}

.card {
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 5px 1px 15px 5px rgb(178, 178, 178);

}

.cardImg {
  height: auto;
  max-width: 100%;
}

.coffeeCard {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 0 1%; /* row, column */
  
}

.coffeeinput {
  border-radius: 5px;
  padding: 15px;
  width: 35%;
}

.coffeeinput::placeholder {
  font-family: "League Spartan";
}

.code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.content-container {
  display: flex;
  justify-content: space-around;
}

.closingintro,
.openingintro {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.error {
  background-attachment: fixed;
  background-image: url(./images/spilledcoffee.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 18.5% 0;
  text-align: center;
}

#error h2 {
  color: white;
  font-size: 2em;
}

#error p {
  color: red;
  font-size: 1.9em;
  font-weight: bold;
}

.header-container {
  margin: 0 auto;
  max-height: 50vh;
  overflow: hidden;
  width: 50%;
  margin-bottom: 3%;
}

.headerSpace {
  padding-top: 20px;
}

.intro {
  align-items: center;
  background-color: rgb(227, 227, 227);
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  overflow: hidden;
  text-align: center;
}

.logo {
  width: 55%;
  border-radius: 2em;
}

.main-error {
  margin: 0 auto;
  padding: 2%;
  text-align: center;
  width: 28%;
}

.navLink {
  align-items: center;
  background-color: black;
  color: white;
  display: flex, inline;
  font-size: 2rem;
  gap: 2rem;
  justify-content: space-between;
  list-style: none;
  margin-right: 10px;
  padding: 1rem;
  border-radius: 15px;
  text-decoration: none;
}

.navLink.active {
  background-color: rgb(166, 160, 160);
}

.newcoffeeform {
  border-radius: 15px;
  margin-bottom: 10px;
  font-family: "League Spartan";
}

.newcoffeeform span {
  cursor: pointer;
  font-size: 24px;
  margin: 0 5px;
}

.newcoffeeform span.selected {
  color: darkred;
}

#card {
  margin: auto;
  width: 100%;
}

.card{
  border: 1px solid #ddd;
  padding: 0 0 9% 0; /* top, right, bottom, left */
  text-align: center;
  border-radius: 15px;
  margin-top: 30px;
 }

#card:hover {
  transform: scale(1.2);
}

#card img {
  border-radius: 10px;
  height: 200px;
  width: 200px;
}

#cardTitle{
  font-size: 1.5em;
  margin-bottom: 11%;
  }

#error {
  background-attachment: fixed;
  background-image: url(./images/spilledcoffee.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 18.5% 0;
  text-align: center;
}

#error button:hover {
  transform: scale(1.15);
}

#error h2 {
  color: white;
  font-size: 2em;
}

#error p {
  color: red;
  font-size: 1.9em;
  font-weight: bold;
}

#error button{
  background-color: rgb(11, 36, 102);
  cursor: pointer;
  width: 12%;
  font-size: 1.4em;
  line-height: 1.2;
 }
  
 #error button:hover{
  transform: scale(1.15); 
}

#main-error {
  text-align: center;
  padding: 2%;
  margin: 0 auto;
}

.sort-button {
  margin-left: 10px;
}

.searchperfection,
.brewvolution,
.passport {
  margin: 10px;
  width: 30%;
}

.intro{
  background-color: white;
  margin: 0 auto;
  margin-top: 2.5%;
}

.intro{
  font-size: 1.5em;
  padding: 2%;
  width:80%;
} 

#singleFont{
  width: 40%;
  padding: 1%;
  font-size: 2em;
}

input, #rating{
  font-size: 1.5em;
 }

 .btn, .sort-button{
  font-size: 1.4em;
}

#homeBtn{
  font-size: 1em;
  width: 20%;
}

#delete{
margin-top: .5%;
text-align: center;
}

#errorMark{
  color:#ffffff7d;
  background: none;
}

.singleMark{
  color:#918e8e;
  background: none;
}
